<div class="row">
  <div class="col-md-12">

    <h1>Seasons</h1>
    <a routerLink="/trainer-portal/seasons-create" class="btn btn-primary">Create Season</a>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Start Date</th>
          <th scope="col">Students Limit</th>
          <th scope="col">Action</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let season of seasons">
          <th scope="row">{{season.id}}</th>
          <td>{{season.name}}</td>
          <td>{{season.startDate}}</td>
          <td>{{season.studentsLimit}}</td>
          <td><a routerLink="/trainer-portal/seasons-edit/{{season.id}}">Edit</a></td>
          <td><a href="javascript:void(0)" (click)="deleteSeason(season.id)">Delete</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
