<div class="row">
  <div class="col-md-12">

    <h1>Trainer Portal</h1>
    <strong>Learning configuration</strong>
    <ul class="list-group">
      <li class="list-group-item"><a routerLink="/trainer-portal/seasons">Seasons</a></li>
      <li class="list-group-item"><a routerLink="/trainer-portal/semesters">Semesters</a></li>
      <li class="list-group-item"><a routerLink="/trainer-portal/courses">Courses</a></li>
      <li class="list-group-item"><a routerLink="/trainer-portal/lectures">Lectures</a></li>
      <li class="list-group-item"><a routerLink="/trainer-portal/homework-assignments">Homework Assignments</a></li>
    </ul>

    <strong>Students configuration</strong>
    <ul class="list-group">
      <li class="list-group-item">1. <a routerLink="/trainer-portal/applications">Applications</a></li>
      <li class="list-group-item">2. <a routerLink="/trainer-portal/studentsInCourse">Enroll Students in Course</a></li>
      <li class="list-group-item">3. <a routerLink="/trainer-portal/users">Users</a></li>
    </ul>
  </div>
</div>
