<h1>{{username}} Profile</h1>

<dl class="row">
  <dt class="col-sm-3">First Name</dt>
  <dd class="col-sm-9">{{user.firstName}}</dd>

  <dt class="col-sm-3">Last Name</dt>
  <dd class="col-sm-9">{{user.lastName}}</dd>
</dl>

<div>
  <h2>Courses</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Course</th>
        <th scope="col">Grade</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let userInCourse of userInCourses">
        <td>{{userInCourse.courseName}}</td>
        <td>
          <input type="number" [(ngModel)]="userInCourse.grade" name="grade" />
          <span *ngIf="userInCourse.grade == 0"> * No grade yet</span>
        </td>
        <td>
          <button (click)="changeGrade(userInCourse)" class="btn btn-success btn-sm">Change Grade</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
