<div class="row">
  <div class="col-md-12">

    <h1>Course</h1>
    <a routerLink="/trainer-portal/courses-create" class="btn btn-primary">Create Course</a>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Credits</th>
          <th scope="col">Semester</th>
          <th scope="col">Action</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <th scope="row">{{course.id}}</th>
          <td>{{course.name}}</td>
          <td>{{course.credits}}</td>
          <td>{{course.semesterName}}</td>
          <td><a routerLink="/trainer-portal/courses-edit/{{course.id}}">Edit</a></td>
          <td><a href="javascript:void(0)" (click)="deleteCourse(course.id)">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
